.env
__pycache__/
*.pyc
*.log
.cache/
.pytest_cache/
pytest-cache-files-*/
.coverage
htmlcov/
tmp_pycache/
tmp_coverage/
.*
!.env.example
!.github
!.github/**
index_backup.html
generate_html.py
update_html.py
update_index.py
